<!-- Footer -->
<footer class="d-flex justify-content-center" style="height: 4rem; background-color:rgb(115, 115, 115); color: rgb(217, 217, 217);">

    <!-- Copyright container -->
    <div class="p-3">
        <p>
           &copy; Copyright: <span class="fst-italic">Kristijan Vrbanc</span> , 2021.
        </p> 
    </div>
    <!-- / Copyright container -->

    <!-- E-mail container -->
    <div class="p-3" >
        <p>
            <i class="bi bi-envelope"></i> E-mail: <span class="fst-italic">kristijan.vrbanc@gmail.com</span>
        </p>
    </div>
    <!-- / E-mail container -->
    
</footer>
<!-- / Footer -->