/* ***************
    Navbar
*************** */
.navbar{
    background: linear-gradient( to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

/* Navbar links */
a.custom-link{
    color: azure;
    font-family: 'Roboto', sans-serif;
}

a.hover {
    border-bottom: none;
}

a.hover::after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }

a.hover:hover:after {
    width: 100%;
    background: azure;
}
